/* Global */
:root{
/* Color */
--color-grey: #bfbfbf;
--color-yellow: #fff2cc;
--color-sky: #e1ecf7;
--color-purple1: #dfdaf9;
--color-purple2: #876eda;
--color-purple3: #68349a;
--color-black: #000000;

/* Font size */
--font-large: 48px;
--font-medium: 28px;
--font-regular: 18px;
--font-small: 16px;
--font-micro: 14px;

/* Font weight */
--weight-bold: 700;
--weight-simi-bold: 600;
--weight-regular: 400;

/* Size */

}

/* Universal tags */
*{
    box-sizing: border-box;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-simi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}